#wrapper.login{
    background-image: url(../media/backdrop_login1.jpg);    
}

#wrapper.register{
    background-image: url(../media/backdrop_reg.jpg);    
}

label{
    margin: 2vh 0;
    display: block;
    font-size: 20px;
}

input, button{
    display: block;
    width: 100%;
    height: 4vh;
    font-family: RobotoCondensed_regular;
}

.login > a, .register > a{
    margin-top: 2vh;
    display: block;
    text-align: center;

    text-decoration: underline;
    cursor: pointer;
}

.login > p, .register > p{
    text-align: center;
}

#connecting{
    background-color: rgba(245, 245, 245, 0.782);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;

    font-size: 28px;
}

#connecting > div{
    background-color: whitesmoke;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#connecting.invisable{
    display: none;
}

#feedback{
    background-color: #b1ce9d;
    border-radius: 15px;
    height: 20vh;
    width: 84vw;
    font-size: 18px;
    font-family: RobotoCondensed_regular;
    text-align: center;

    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    z-index: 10;
}

#feedback > button#close_feedback{
    padding: 1vh;
    height: 7vh;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#feedback  > p {
    margin: 2vh;
}

#feedback.invisable{
   display: none;
}