#wrapper.quiz{
    background-image: url(../media/backdrop_quiz1.jpg);
}

#logout_bar{
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 4px;
    height: 5vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logout_bar > button{
    border-radius: 5px;
    border: 1px solid grey;
    width: 25%;
    font-size: 17px;
}

.image{
    margin-top: 15vh;
    margin-bottom: 2vh;
}

.image > img{
    width: 100%;
    border-radius: 15px;
}

.options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    cursor: pointer;
}

.options > div{
    background-color: #779763;
    border: 1px solid #606f60;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.options > div:hover{
    background-color: rgb(71, 89, 71);
}

.answer_feedback{
    border-radius: 15px;
    height: 18vh;
    width: 84vw;
    padding: 3vh;

    font-size: 24px;
    font-family: RobotoCondensed_regular;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    z-index: 10;
}

.answer_feedback.hidden{
    display: none;
}

.answer_feedback > p{
    margin: 0;
    margin-bottom: 1vh;
}

.answer_feedback > button{
    font-size: 18px;
    height: 10vh;
    font-family: RobotoCondensed_regular;
}

#info_getting_random_image{
    background-color: rgba(245, 245, 245, 0.782);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;

    font-size: 28px;
    font-family: RobotoCondensed_regular;
}

#info_getting_random_image.hidden{
    display: none;
}

#info_getting_random_image > div{
    background-color: rgb(255, 255, 255);
    padding: 2vh;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#info_getting_random_image > div.hidden{
    display: none;
}