#wrapper.quiz{
    background-image: url(../media/backdrop_quiz1.jpg);
}

#wrapper.quiz > #main{
    background-image: url("../media/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
}

#logout_bar{
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 4px;
    height: 5vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logout_bar > button{
    border-radius: 5px;
    border: 1px solid grey;
    width: 25%;
    font-size: 17px;
}
#question_wrapper{
  
}

.image{
    margin-top: 15vh;
    margin-bottom: 2vh;
    

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image > img{
    width: 100%;
    border-radius: 15px;
}

.options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6vh 6vh;
    gap: 4px;

    cursor: pointer;
}

.options > div{
    background-color: #779763;
    border: 1px solid #606f60;
    border-radius: 10px;
    height: 6vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 5px;
}

.options > div:hover{
    background-color: rgb(71, 89, 71);
}

.answer_feedback.hidden{
    display: none;
}

.answer_feedback{
    border-radius: 15px;
    height: 18vh;
    width: 84vw;
    font-size: 24px;
    font-family: RobotoCondensed_regular;
    text-align: center;

    padding: 3vh;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    z-index: 10;
}
.answer_feedback > p{
    margin: 0;
    margin-bottom: 1vh;
}
.answer_feedback > button{
    font-size: 18px;
    height: 10vh;
    font-family: RobotoCondensed_regular;
}

.answer_feedback.true{
    background-color: #779763;
}
.answer_feedback.false{
    background-color: #976363;
}